/* 

    font-family: 'Cairo', sans-serif; 

    font-family: 'Pangolin', cursive;



*/


*{
    margin: 0;
    padding: 0;
    
}
  
header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7) , rgba(4,9,30,0.7)),url(./images/background1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Cairo', sans-serif; 
}

nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}


nav .logo{

    font-family: 'Pangolin', cursive;
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
}

nav .one{

    color: yellow;
}

nav .nav-links{

    flex: 1;
    text-align: right;
}

nav .nav-links ul li{

    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav .nav-links ul li a{
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    color: whitesmoke;
}

nav .nav-links ul li .home::after{
    content: '';
    width: 100%;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
}

nav .nav-links  .about::after{
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .5s;
}
nav .nav-links  .user::after{
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .5s;
}
nav .nav-links  .contact::after{
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .5s;
}

nav .nav-links .about:hover::after{

    width: 100%;
}
nav .nav-links .user:hover::after{

    width: 100%;
}
nav .nav-links .contact:hover::after{

    width: 100%;
}

/* .text-box */

.text-box{

    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box  .two{

    font-size: 60px;
    font-weight: bold;
    padding: 0 7px;
}

.text-box  .three{

    font-size: 37px;
    color: yellow;
}

.text-box  p{

    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid #fff;
    padding: 10px 70px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 2px solid yellow;
    background-color: yellow;
    transition: 1s;
    color: black;
}

nav .fa{

    display: none ;
}

@media(max-width: 700px){

    .text-box .two{

        font-size: 40px;
       
    }
    
    .text-box .three{
    
        font-size: 19px;
        
    }

    .text-box p{
       
        margin: 0px 0 30px;
        font-size: 13px;
        
    }
 
    nav .nav-links ul li{
        display: block;
    }

    nav .nav-links ul li a{

        color: black;
    }
    nav .nav-links{
        position: absolute;
        background: yellow;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    nav .nav-links ul {

        padding: 30px;
        text-align: center;
    }




}



